*,*::before,*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --color-darkgray: hsl(222, 15%, 13%);
   --color-lightgray: hsl(222, 15%, 76%);
}

.dark-theme {
   background-color: var(--color-darkgray);
}

.container {
   max-width: 1000px;
   margin-left: auto;
   margin-right: auto;
}

a {
   color: var(--color-lightgray);
}