@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-SemiBold.woff") format("woff"), url("../fonts/Lato-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.2;
}

/* Document
 * ========================================================================== */

/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Backgrounds do not repeat by default (opinionated).
 */

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  background-repeat: no-repeat;
  /* 2 */
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */

::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Breaks words to prevent overflow in all browsers (opinionated).
 * 4. Use a 4-space tab width in all browsers (opinionated).
 * 5. Remove the grey highlight on links in iOS (opinionated).
 * 6. Prevent adjustments of font size after orientation changes in iOS.
 */

:where(:root) {
  cursor: default;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  overflow-wrap: break-word;
  /* 3 */
  -moz-tab-size: 4;
  /* 4 */
  -o-tab-size: 4;
  tab-size: 4;
  /* 4 */
  -webkit-tap-highlight-color: transparent;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 6 */
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  /* 6 */
}

/* Sections
 * ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

:where(body) {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */

:where(h1) {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */

/**
 * Remove the margin on nested lists in Chrome, Edge, and Safari.
 */

:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
}

/**
 * 1. Correct the inheritance of border color in Firefox.
 * 2. Add the correct box sizing in Firefox.
 */

:where(hr) {
  color: inherit;
  /* 1 */
  height: 0;
  /* 2 */
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */

:where(nav) :where(ol, ul) {
  list-style-type: none;
  padding: 0;
}

/**
 * Prevent VoiceOver from ignoring list semantics in Safari (opinionated).
 */

:where(nav li)::before {
  content: "​";
  float: left;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 * 3. Prevent overflow of the container in all browsers (opinionated).
 */

:where(pre) {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
  overflow: auto;
  /* 3 */
}

/* Text-level semantics
 * ========================================================================== */

/**
 * Add the correct text decoration in Safari.
 */

:where(abbr[title]) {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

:where(b, strong) {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

:where(code, kbd, samp) {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

:where(small) {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */

/*
 * Change the alignment on media elements in all browsers (opinionated).
 */

:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */

:where(iframe) {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */

:where(svg:not([fill])) {
  fill: currentColor;
}

/* Tabular data
 * ========================================================================== */

/**
 * 1. Collapse border spacing in all browsers (opinionated).
 * 2. Correct table border color in Chrome, Edge, and Safari.
 * 3. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */

:where(table) {
  border-collapse: collapse;
  /* 1 */
  border-color: currentColor;
  /* 2 */
  text-indent: 0;
  /* 3 */
}

/* Forms
 * ========================================================================== */

/**
 * Remove the margin on controls in Safari.
 */

:where(button, input, select) {
  margin: 0;
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */

:where(button, [type=button i], [type=reset i], [type=submit i]) {
  -webkit-appearance: button;
}

/**
 * Change the inconsistent appearance in all browsers (opinionated).
 */

:where(fieldset) {
  border: 1px solid #a0a0a0;
}

/**
 * Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */

:where(progress) {
  vertical-align: baseline;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 3. Change the resize direction in all browsers (opinionated).
 */

:where(textarea) {
  margin: 0;
  /* 1 */
  resize: vertical;
  /* 3 */
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */

:where([type=search i]) {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
 * ========================================================================== */

/*
 * Add the correct styles in Safari.
 */

:where(dialog) {
  background-color: white;
  border: solid;
  color: black;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

:where(dialog:not([open])) {
  display: none;
}

/*
 * Add the correct display in Safari.
 */

:where(details > summary:first-of-type) {
  display: list-item;
}

/* Accessibility
 * ========================================================================== */

/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */

:where([aria-busy=true i]) {
  cursor: progress;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */

:where([aria-disabled=true i], [disabled]) {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */

:where([aria-hidden=false i][hidden]) {
  display: initial;
}

:where([aria-hidden=false i][hidden]:not(:focus)) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

*:focus {
  outline: none;
}

html.scroll-disable {
  overflow: hidden;
}

html.scroll-disable body {
  overflow: hidden;
}

.container {
  max-width: 1199px;
  margin: 0 auto;
  padding: 0 15px;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 900;
}

h3 {
  font-size: 32px;
  font-weight: 700;
}

h4 {
  font-size: 28px;
  font-weight: 700;
}

p {
  margin-bottom: 6px;
}

.text-bold {
  font-weight: 700;
}

.text-blue {
  color: hsl(204deg, 69%, 55%);
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-nowrap {
  white-space: nowrap;
}

.list-dash {
  list-style-type: none;
}

.list-dash li::before {
  content: "–";
  padding-left: 6px;
  padding-right: 6px;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
}

main {
  min-height: calc(100vh - 80px);
}

.button {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 43px;
  min-width: 183px;
  border: 1px solid hsl(0deg, 0%, 100%);
  border-radius: 4px;
  background-color: hsl(204deg, 69%, 55%);
  color: hsl(0deg, 0%, 100%);
  position: relative;
}

.button span {
  z-index: 2;
}

.button::before {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  background-color: hsl(204deg, 69%, 50%);
  border-radius: 4px;
  z-index: 1;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.button:hover::before,
.button:focus::before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.button--light {
  color: hsl(230deg, 7%, 18%);
  background-color: hsl(0deg, 0%, 100%);
  border-color: hsl(249deg, 6%, 45%);
}

.button--light::before {
  background-color: hsl(205deg, 68%, 93%);
}

.button--light:hover,
.button--light:focus {
  background-color: hsl(0deg, 0%, 100%);
}

.button--large {
  font-size: 15px;
  font-weight: 600;
  height: 48px;
}

.input-text {
  background-color: hsl(240deg, 3%, 88%);
  color: hsl(240deg, 13%, 18%);
  font-size: 18px;
  padding: 10px 12px;
  border: 1px solid hsl(0deg, 0%, 100%);
  border-radius: 3px;
}

.input-text::-webkit-input-placeholder {
  color: hsl(240deg, 13%, 18%);
  opacity: 1;
}

.input-text::-moz-placeholder {
  color: hsl(240deg, 13%, 18%);
  opacity: 1;
}

.input-text:-ms-input-placeholder {
  color: hsl(240deg, 13%, 18%);
  opacity: 1;
}

.input-text::-ms-input-placeholder {
  color: hsl(240deg, 13%, 18%);
  opacity: 1;
}

.input-text::placeholder {
  color: hsl(240deg, 13%, 18%);
  opacity: 1;
}

.input-text:focus {
  background-color: hsl(231deg, 13%, 28%);
  border-color: hsl(231deg, 13%, 28%);
  color: hsl(0deg, 0%, 100%);
}

.input-text:focus::-webkit-input-placeholder {
  color: hsl(0deg, 0%, 100%);
}

.input-text:focus::-moz-placeholder {
  color: hsl(0deg, 0%, 100%);
}

.input-text:focus:-ms-input-placeholder {
  color: hsl(0deg, 0%, 100%);
}

.input-text:focus::-ms-input-placeholder {
  color: hsl(0deg, 0%, 100%);
}

.input-text:focus::placeholder {
  color: hsl(0deg, 0%, 100%);
}

.input-range {
  font-size: 18px;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr -webkit-max-content;
  -ms-grid-columns: 1fr max-content;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  gap: 10px;
}

.input-range__slider {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  background: hsl(240deg, 2%, 75%);
  border: 1px solid hsl(0deg, 0%, 100%);
  border-radius: 5px;
  cursor: pointer;
}

.input-range__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  border: 3px solid hsl(204deg, 57%, 36%);
  background: hsl(204deg, 69%, 55%);
}

.input-range__slider::-moz-range-thumb {
  -webkit-appearance: none;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  border: 3px solid hsl(204deg, 57%, 36%);
  background: hsl(204deg, 69%, 55%);
}

.input-range__slider::-ms-thumb {
  -webkit-appearance: none;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  border: 3px solid hsl(204deg, 57%, 36%);
  background: hsl(204deg, 69%, 55%);
}

.input-file__input {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.input-file__input::-webkit-file-upload-button {
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.input-file__button {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 12px;
  min-width: 183px;
  border: 2px solid hsl(204deg, 69%, 55%);
  border-radius: 3px;
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(230deg, 7%, 18%);
  width: 100%;
  height: 100%;
  position: relative;
}

.select {
  position: relative;
  z-index: 100;
}

.select__arrow {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.select.open .select__arrow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.select__select {
  position: absolute;
  height: 0;
  width: 0;
  visibility: hidden;
  pointer-events: none;
}

.select__input {
  height: 100%;
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  background-color: hsl(240deg, 3%, 88%);
  color: hsl(240deg, 13%, 18%);
  font-size: 18px;
  padding: 10px 12px;
  border: 1px solid hsl(0deg, 0%, 100%);
  border-radius: 3px;
  cursor: pointer;
}

.select.open .select__input {
  background-color: hsl(231deg, 13%, 28%);
  border-color: hsl(231deg, 13%, 28%);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: hsl(0deg, 0%, 100%);
}

.select svg path {
  fill: hsl(240deg, 13%, 18%);
}

.select.open svg path {
  fill: hsl(0deg, 0%, 100%);
}

.select__dropdown {
  background-color: hsl(240deg, 13%, 18%);
  border: 1px solid hsl(231deg, 13%, 28%);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 4px;
  position: absolute;
  left: 0;
  right: 0;
  display: none;
}

.select.open .select__dropdown {
  display: block;
}

.select__list {
  color: hsl(0deg, 0%, 100%);
  list-style-type: none;
  font-size: 18px;
  overflow-y: auto;
  max-height: 210px;
  scrollbar-width: thin;
  scrollbar-color: hsl(204deg, 69%, 55%) hsl(231deg, 13%, 28%);
}

.select__list::-webkit-scrollbar {
  width: 7px;
  margin-left: 3px;
}

.select__list::-webkit-scrollbar-track {
  background-color: hsl(231deg, 13%, 28%);
  border-radius: 3px;
}

.select__list::-webkit-scrollbar-thumb {
  background: hsl(204deg, 69%, 55%);
  border-radius: 3px;
}

.select__option {
  padding: 10px 8px;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.select__option:hover {
  background-color: hsl(231deg, 13%, 28%);
}

.select__backdrop {
  position: fixed;
  z-index: -1;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.select.open .select__backdrop {
  display: block;
}

.header {
  background-color: rgba(16, 16, 30, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 40px;
  min-height: 100px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.header__toggle-menu {
  display: none;
  width: 60px;
  height: 60px;
  border: none;
  background-color: transparent;
}

.footer {
  background-color: hsl(231deg, 13%, 28%);
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 80px;
  color: hsl(0deg, 0%, 100%);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

.footer__copy {
  font-size: 13px;
}

.footer__payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 12px 44px;
  max-width: 500px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 12px 52px;
  max-width: 350px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.footer__separator {
  width: 1px;
  height: 18px;
  background-color: hsl(0deg, 0%, 76%);
}

.hero {
  padding-top: 100px;
  background-image: url(../images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 850px;
}

.hero__content {
  font-size: 20px;
  line-height: 1.4;
  padding-top: 105px;
  padding-bottom: 40px;
}

.hero__title {
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 88px;
}

.hero__actions {
  margin-top: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ordering {
  background-color: hsl(240deg, 13%, 18%);
  background-image: url(../images/ordering-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: hsl(0deg, 0%, 100%);
}

.ordering__container {
  padding-top: 120px;
  padding-bottom: 150px;
}

.ordering__header {
  margin-bottom: 82px;
}

.ordering__title {
  text-transform: uppercase;
  max-width: 800px;
  margin-bottom: 28px;
  margin-right: auto;
  margin-left: auto;
}

.ordering__notice {
  color: hsl(0deg, 0%, 73%);
  font-size: 18px;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.ordering__steps {
  margin-bottom: 84px;
}

.ordering__steps-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.ordering__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 22px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 calc(20% - 16px);
  flex: 0 1 calc(20% - 16px);
  text-align: center;
  z-index: 1;
  position: relative;
}

.ordering__separator {
  position: relative;
}

.ordering__separator::before {
  content: "⁣●●●●●";
  font-family: serif;
  font-size: 12px;
  letter-spacing: 19px;
  position: absolute;
  top: 42px;
  left: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.ordering__step-icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 100px;
  width: 100px;
  border: 5px solid hsl(204deg, 57%, 36%);
  border-radius: 50%;
  background-color: hsl(204deg, 69%, 55%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ordering__step-label {
  line-height: 1.2;
}

.logo {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 28px;
  color: hsl(0deg, 0%, 100%);
}

.logo__img {
  height: 2rem;
  width: auto;
}

.logo .text-blue {
  color: hsl(204deg, 83%, 59%);
}

.header-menu__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px 60px;
}

.header-menu__link {
  font-size: 13px;
  font-weight: 600;
  color: hsl(0deg, 0%, 100%);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
  text-transform: uppercase;
}

.header-menu__link:hover,
.header-menu__link--current {
  color: hsl(204deg, 85%, 60%);
}

.ordering-form {
  --grid-cols: 3;
  --grid-gap: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[var(--grid-cols)];
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  gap: var(--grid-gap);
}

.ordering-form__input {
  height: 48px;
}

.ordering-form__range-slider {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -ms-grid-row-align: end;
  align-self: end;
}

.ordering-form__submit-button {
  padding: 0;
  grid-column: 1/-1;
  margin-top: 25px;
  width: calc(33.3% - var(--grid-gap) / 2);
  -ms-grid-column-align: center;
  justify-self: center;
}

.payment__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  color: hsl(0deg, 0%, 76%);
}

.contacts__item {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 12px;
  font-size: 13px;
  color: hsl(0deg, 0%, 100%);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.contacts__item:hover,
.contacts__item:focus {
  color: hsl(204deg, 69%, 55%);
}

@media (min-width: 1399px) {
  .ordering {
    background-position: center top -15px;
    background-size: contain;
  }
}

@media (max-width: 1199px) {
  .hero {
    background-position: 60%;
  }

  .ordering__separator::before {
    letter-spacing: 1.3vw;
  }
}

@media (max-width: 991px) {
  .ordering__separator::before {
    content: "⁣●●●";
    letter-spacing: 1.5vw;
  }

  .ordering-form__submit-button {
    width: 100%;
  }

  .ordering-form {
    --grid-cols: 2;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  .input-range {
    -ms-grid-column-span: 1;
    grid-column: span 1;
    gap: 16px;
  }

  .header__toggle-menu {
    display: block;
  }

  .header__toggle-menu {
    width: 40px;
    height: 40px;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .footer__payment {
    gap: 16px;
  }

  .footer__contacts {
    gap: 16px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer__separator {
    width: 18px;
    height: 1px;
  }

  .hero {
    background-position: 75%;
    position: relative;
  }

  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    z-index: 1;
  }

  .hero__content {
    font-size: 15px;
    padding-top: 75px;
    position: relative;
    z-index: 5;
    color: hsl(0deg, 0%, 100%);
  }

  .ordering__container {
    padding-top: 80px;
    padding-bottom: 120px;
  }

  .ordering__header {
    margin-bottom: 60px;
  }

  .ordering__steps {
    padding-left: 8vw;
  }

  .ordering__steps-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
  }

  .ordering__step {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    text-align: left;
    width: 100%;
  }

  .ordering__separator::before {
    content: "";
    display: none;
  }

  .ordering__separator {
    display: none;
  }

  .ordering__step-icon {
    height: 80px;
    width: 80px;
  }

  .header-menu {
    -webkit-transform: translateX(100vw);
    -ms-transform: translateX(100vw);
    transform: translateX(100vw);
    top: 100px;
    position: absolute;
    left: 0;
    width: 100vw;
    height: calc(100vh - 100px);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
    overflow-y: auto;
  }

  .header-menu--show {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .header-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: rgba(16, 16, 30, 0.9);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 4px solid hsl(204deg, 83%, 59%);
    -webkit-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3);
  }

  .header-menu__item {
    width: 100%;
  }

  .header-menu__link {
    display: block;
    padding: 10px 24px 10px 10px;
    font-size: 16px;
    text-align: center;
  }

  .ordering-form {
    --grid-cols: 1;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
  }

  .header__container {
    gap: 8px;
  }

  .footer__copy {
    font-size: 11px;
  }

  .hero__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .ordering__container {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  .ordering__header {
    margin-bottom: 40px;
  }

  .ordering__steps {
    margin-bottom: 60px;
    padding-left: 0;
  }

  .logo {
    font-size: 24px;
  }
}