@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: semibold;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: semibold;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/Rubik-Regular.woff") format("woff"), url("../fonts/Rubik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/Rubik-Medium.woff") format("woff"), url("../fonts/Rubik-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?m8xyr5");
  src: url("../fonts/icomoon.eot?m8xyr5#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?m8xyr5") format("truetype"), url("../fonts/icomoon.woff?m8xyr5") format("woff"), url("../fonts/icomoon.svg?m8xyr5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon-airpods:before {
  content: "\e900";
}

.icon-attachment:before {
  content: "\e904";
}

.icon-bulb:before {
  content: "\e906";
}

.icon-facebook:before {
  content: "\e90a";
}

.icon-flip:before {
  content: "\e90b";
}

.icon-google:before {
  content: "\e90e";
}

.icon-knife:before {
  content: "\e90f";
}

.icon-lte:before {
  content: "\e911";
}

.icon-thunder:before {
  content: "\e914";
}

.icon-twitter:before {
  content: "\e916";
}

body {
  font-family: "Gilroy-SemiBold", sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.preloader_hide {
  opacity: 0;
}

.preloader_hidden {
  display: none;
}

body {
  background-color: #0f1043;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1509px;
  z-index: -1;
  background-image: -o-linear-gradient(228deg, #3b1d60 0%, #0f1043 50%);
  background-image: linear-gradient(222deg, #3b1d60 0%, #0f1043 50%);
  background-repeat: no-repeat;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 15px;
}

.text {
  color: #8375a9;
  line-height: 1.5em;
}

.title {
  color: #8375a9;
  font-size: 2.5rem;
  line-height: 1.35em;
}

.title-2 {
  color: #8375a9;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.35em;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  min-width: 112px;
  padding: 0.6em 2.4em;
  border-radius: 4px;
  border: 1px solid #f2984a;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.66em;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  color: #f2984a;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.btn:hover,
.btn:focus {
  background-color: #f2984a;
  color: #fff;
}

.btn_pr {
  background-color: #f2984a;
  color: #fff;
}

.btn_pr:hover,
.btn_pr:focus {
  background-color: transparent;
  color: #f2984a;
}

.btn_xl {
  padding: 0.9em 2.4em;
  min-width: 157px;
}

.btn_sh {
  -webkit-box-shadow: -11px 18px 37px rgba(242, 153, 74, 0.13);
          box-shadow: -11px 18px 37px rgba(242, 153, 74, 0.13);
}

.btn_right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn_left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn_form {
  width: 128px;
  height: 56px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.social__item:not(:last-child) {
  margin-right: 16px;
}

.social__link {
  color: #fff;
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(109, 109, 120, 0.5);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  outline: none;
}

.social__link::before {
  font-family: "icomoon";
  font-size: 1.7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.social__link_google::before {
  content: "\e90e";
  -webkit-transform: translate(-49%, -51%);
      -ms-transform: translate(-49%, -51%);
          transform: translate(-49%, -51%);
}

.social__link_twitter::before {
  content: "\e916";
}

.social__link_facebook::before {
  content: "\e90a";
}

.social__link:hover,
.social__link:focus {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.graph {
  background-color: #1d2067;
  width: 232px;
  height: 225px;
  padding: 26px;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.graph__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.graph__lable {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2em;
  color: #8375a9;
}

.graph__time {
  font-family: "Open Sans", sans-serif;
  font-size: 9px;
  line-height: 1.3em;
  color: #8375a9;
}

.graph__img {
  width: 181px;
  height: 137px;
}

.path-icon {
  padding: 25px 20px;
  background-color: #13c397;
  border-radius: 9px;
  display: inline-block;
  -webkit-box-shadow: -16.0895px 24.1342px 36.6483px rgba(19, 195, 151, 0.24);
          box-shadow: -16.0895px 24.1342px 36.6483px rgba(19, 195, 151, 0.24);
}

.path-icon__img {
  width: 41px;
  -o-object-fit: contain;
     object-fit: contain;
}

.card {
  border-radius: 10px;
  background-color: #fff;
  max-width: 260px;
}

.card__img {
  display: block;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__desc {
  padding: 20px 30px;
}

.card__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25em;
  color: #212b36;
  margin-bottom: 2px;
}

.card__sub-title {
  font-family: "Open Sans", sans-serif;
  font-size: 0.625rem;
  line-height: 1.4em;
  letter-spacing: 0.5px;
  color: #6d6d78;
  margin-bottom: 22px;
}

.card__price {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 1.2em;
  color: #13c397;
  margin-bottom: 5px;
}

.card__sub-price {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 1.4em;
  letter-spacing: 0.5px;
  color: #6d6d78;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
  position: relative;
}

.card__info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(109, 109, 120, 0.4);
}

.card__info-lable {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2em;
  color: #212b36;
}

.card__info-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 1.4em;
  letter-spacing: 0.5px;
  color: #6d6d78;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 75px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__btn {
  margin-left: 20px;
}

.logo__img {
  height: 2rem;
  width: auto;
}

.menu__btn {
  display: none;
}

.menu__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4px;
  margin-left: 25px;
}

.menu__item {
  margin-left: 25px;
}

.menu__link {
  color: #b5b5b5;
  font-family: "Gilroy", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.66em;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.menu__link:hover {
  color: #f2984a;
}

.about {
  margin-bottom: 65px;
}

.about__container {
  padding-top: 100px;
}

.about__desc {
  max-width: 530px;
  position: relative;
  overflow: visible;
  margin-bottom: 100px;
}

.about__desc::after {
  content: "";
  position: absolute;
  left: 110%;
  top: -30px;
  width: 638px;
  height: 580px;
  background-image: url("../img/blocks/about/vector-man.svg");
}

.about__title {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 1.14em;
  color: #9aefd0;
  margin-bottom: 20px;
}

.about__text {
  margin-bottom: 60px;
}

.about__btn {
  margin-right: 16px;
  margin-bottom: 40px;
}

.video-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.video-preview__icon {
  min-width: 140px;
  min-height: 80px;
  background-color: #371c5e;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-preview__img {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.video-preview__desc {
  padding: 4px 0 4px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video-preview__title {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.375em;
  color: #8375a9;
  margin-bottom: 12px;
}

.video-preview__text {
  color: #6d6d78;
  margin-top: auto;
}

.video-preview:hover .video-preview__img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.brands {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brands__item {
  margin: 0 25px 25px;
}

.brands__item:hover .brands__img {
  opacity: 0.7;
}

.brands__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.4;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.features {
  position: relative;
}

.features__header {
  text-align: center;
  margin-bottom: 30px;
}

.features__title {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.2em;
  color: #9aefd0;
  margin-bottom: 12px;
}

.features__subtitle {
  line-height: 1.375em;
  font-family: "Gilroy-SemiBold", sans-serif;
  color: #8375a9;
}

.features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__item {
  width: 300px;
  margin-bottom: 35px;
  padding: 0 0 8px 52px;
}

.features__item-title {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 1.125rem;
  line-height: 1.22em;
  color: #9aefd0;
  margin-bottom: 10px;
  position: relative;
}

.features__item-title::before {
  position: absolute;
  left: -50px;
  font-family: "icomoon";
}

.features__item-text {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 0.875rem;
  line-height: 1.6em;
  color: #8375a9;
}

.features::before,
.features::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 385px;
  height: 565px;
  opacity: 0.2;
}

.features::before {
  left: -80px;
  background-image: url("../img/blocks/features/left.svg");
}

.features::after {
  right: -80px;
  background-image: url("../img/blocks/features/right.svg");
}

.info {
  padding-bottom: 150px;
  position: relative;
}

.info__container {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__desc {
  padding-top: 55px;
  max-width: 470px;
  margin-bottom: 60px;
}

.info__title {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.2em;
  color: #9aefd0;
  margin-bottom: 30px;
}

.info__title_yel {
  color: #f2984a;
}

.info__text {
  font-family: "Gilroy-SemiBold", sans-serif;
  font-size: 0.94rem;
  line-height: 1.87em;
  letter-spacing: 0.5px;
  color: #8375a9;
  margin-bottom: 45px;
}

.info__graph-wrapper {
  background-image: url("../img/blocks/info/bg-graph.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 9px;
  width: 286px;
  height: 357px;
  position: relative;
  margin-right: 110px;
  margin-left: 110px;
}

.info__graph-wrapper::after {
  content: "";
  position: absolute;
  width: 140px;
  height: 153px;
  right: -48px;
  bottom: -42px;
  background-image: url("../img/blocks/info/dots.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.info__graph {
  position: absolute;
  top: 18px;
  left: -107px;
}

.info__path-icon {
  position: absolute;
}

.info__path-icon_gr {
  left: 36px;
  bottom: -40px;
}

.info__path-icon_cd {
  top: 112px;
  left: -40px;
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
}

.info__card {
  position: relative;
  margin-right: 85px;
}

.info__card::before,
.info__card::after {
  content: "";
  position: absolute;
}

.info__card-time {
  padding: 15px 30px;
  background-color: #516ea9;
  display: inline-block;
  min-width: 130px;
  border-radius: 10px;
  position: absolute;
  top: 246px;
  left: 93%;
  z-index: -1;
  -webkit-box-shadow: -8px 16px 60px rgba(81, 110, 169, 0.24);
          box-shadow: -8px 16px 60px rgba(81, 110, 169, 0.24);
}

.info__card-lable {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25em;
  color: #fff;
  margin-bottom: 1px;
}

.info__card-sublable {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 1.4em;
  letter-spacing: 0.5px;
  color: #fff;
  opacity: 0.8;
  white-space: nowrap;
}

.info_gr::before {
  content: "";
  position: absolute;
  bottom: -270px;
  left: 0px;
  width: 720px;
  height: 600px;
  background-image: url("../img/blocks/info/left.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.info_cd::before {
  content: "";
  position: absolute;
  top: 160px;
  right: -160px;
  width: 818px;
  height: 461px;
  background-image: url("../img/blocks/info/world-map.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.metrics {
  margin-bottom: 170px;
}

.metrics__header {
  text-align: center;
  margin-bottom: 48px;
}

.metrics__title {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17em;
  color: #9aefd0;
  max-width: 864px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.metrics__title_yel {
  color: #f2984a;
}

.metrics__text {
  font-family: "Gilroy-SemiBold", sans-serif;
  font-size: 0.94rem;
  line-height: 1.33em;
  color: #8375a9;
  max-width: 414px;
  margin: 0 auto;
}

.metrics__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.metrics__item {
  max-width: 291px;
  text-align: center;
  margin-bottom: 30px;
}

.metrics__item-label {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17em;
  color: #9aefd0;
  margin-bottom: 16px;
}

.metrics__item-text {
  font-family: "Gilroy-SemiBold", sans-serif;
  font-size: 0.94rem;
  line-height: 1.33em;
  color: #8375a9;
}

.slogan {
  margin-bottom: -80px;
}

.slogan__container {
  text-align: center;
}

.slogan__title {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.2em;
  color: #9aefd0;
  margin-bottom: 30px;
  max-width: 770px;
  margin: 0 auto 45px;
}

.slogan__title_yel {
  color: #f2984a;
}

.slogan__img {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  top: -100px;
  z-index: -1;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.7;
}

.help {
  margin-bottom: 150px;
}

.help__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
}

.help__img-wrapper {
  margin-right: 127px;
  margin-left: 77px;
}

.help__img {
  width: 375px;
  height: 423px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 9px;
}

.help__desc {
  max-width: 512px;
}

.help__title {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.625rem;
  line-height: 1.23em;
  color: #9aefd0;
  margin-bottom: 32px;
}

.help__text {
  font-family: "Gilroy-SemiBold", sans-serif;
  font-size: 0.94rem;
  line-height: 1.33em;
  letter-spacing: 0.2px;
  color: #8375a9;
}

.help__items {
  padding-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.help__item {
  width: 240px;
}

.help__item::before {
  font-family: "icomoon";
  display: block;
  color: #9aefd0;
  font-size: 36px;
  margin-bottom: 16px;
}

.help__item-lable {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 0.94rem;
  line-height: 1.2em;
  letter-spacing: 0.2px;
  color: #9aefd0;
  margin-bottom: 8px;
}

.feedback {
  position: relative;
  padding: 50px 0 167px;
}

.feedback__container {
  padding: 50px 15px;
  background-color: rgba(60, 62, 124, 0.19);
  border-radius: 5px;
  text-align: center;
}

.feedback__title {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.2em;
  color: #f2984a;
  margin-bottom: 20px;
}

.feedback__text {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  line-height: 1.7em;
  color: #6d6d78;
  margin-bottom: 20px;
}

.feedback__form {
  max-width: 416px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin-bottom: 16px;
}

.feedback__email-label {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.feedback__email {
  padding: 18px 16px;
  height: 56px;
  display: inline-block;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  line-height: 1.43em;
  letter-spacing: 0.2px;
}

.feedback__email::-webkit-input-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  line-height: 1.43em;
  letter-spacing: 0.2px;
}

.feedback__email::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  line-height: 1.43em;
  letter-spacing: 0.2px;
}

.feedback__email:-ms-input-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  line-height: 1.43em;
  letter-spacing: 0.2px;
}

.feedback__email::-ms-input-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  line-height: 1.43em;
  letter-spacing: 0.2px;
}

.feedback__email::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  line-height: 1.43em;
  letter-spacing: 0.2px;
}

.feedback__email:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 0px 3px #f2984a inset;
          box-shadow: 0px 0px 0px 3px #f2984a inset;
}

.feedback__subtext {
  font-family: Gilroy-SemiBold;
  font-size: 0.875rem;
  line-height: 1.43em;
  color: #8375a9;
  letter-spacing: 0.2px;
}

.feedback::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: visible;
  background-image: url("../img/blocks/feedback/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.6;
  z-index: -1;
}

.footer {
  padding: 45px 0 80px;
  background-image: url("../img/blocks/footer/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__top {
  margin-bottom: 80px;
}

.footer__top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.625rem;
  line-height: 1.23em;
  color: #f2984a;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.footer__list {
  margin-bottom: 20px;
  width: 24%;
  min-width: 120px;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__list-item_title {
  font-weight: bold;
  margin-bottom: 25px;
}

.footer__list-link {
  font-family: "Inter", sans-serif;
  font-size: 0.94rem;
  line-height: 1.33em;
  color: #fff;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
  outline: none;
}

.footer__list-link:hover,
.footer__list-link:focus {
  color: #f2984a;
}

.footer__copy {
  text-align: center;
}

.footer__copy-item {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  line-height: 1.43em;
  color: #6d6d78;
  margin: 0 16px;
  outline: none;
}

.footer__copy-item_link:hover,
.footer__copy-item_link:focus {
  text-decoration: underline;
  color: #f2984a;
}

@media (min-width: 1399px) {
  body::before {
    bottom: 0;
    height: auto;
  }
}

@media (max-width: 1130) {
  .container {
    max-width: 1130px;
  }
}

@media (max-width: 991px) {
  .info__graph-wrapper {
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .about__desc::after {
    left: auto;
    right: -50%;
    opacity: 0.4;
  }

  .info__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10px;
  }

  .info__desc {
    max-width: 100%;
  }

  .info__graph-wrapper {
    -ms-flex-item-align: center;
        align-self: center;
  }

  .info_cd {
    padding: 30px;
  }

  .metrics {
    margin-bottom: 30px;
  }

  .feedback {
    padding-bottom: 30px;
  }
}

@media (max-width: 630px) {
  .features::before,
  .features::after {
    bottom: auto;
  }

  .features::before {
    top: 0;
  }

  .features::after {
    bottom: 0;
  }
}

@media (max-width: 479px) {
  .preloader {
    display: none;
  }

  .about__desc::after {
    left: 0;
    opacity: 0.4;
  }

  .info__graph-wrapper {
    margin-right: 10px;
  }

  .info__graph {
    left: -70px;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .info__card {
    margin-left: 20px;
  }

  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 0;
  }

  .footer__list {
    width: 45%;
  }

  .footer__copy-item {
    display: block;
    margin-bottom: 15px;
  }
}